language: node_js
node_js:
  - "8"
install:
  - npm ci
before_script:
  - npm run compile
script:
  - npm run lint
  - npm test
after_success:
  - npm run coverage
cache:
  directories:
  - "$HOME/.npm"
